.fundo{
        height: 100vh;
        background-color: black;
        background-image: url('/static/img/fundo.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px);
}

.v-full{
        min-height: calc(100vh - 150px); 
        height:calc(100% - 150px); 
      }


.footer {
        background-color: #D9D9D9;
        font-family: 'Abel', sans-serif;
      }