.fundo{
        height: 100vh;
        background-color: black;
        background-image: url('/static/img/fundo.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px);
}